<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login into your Account</title>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm" th:action="@{/login}" method="post">
    <div>
      <label for="username">Username:</label>
      <p></p>
      <input type="text" id="username" name="username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <p></p>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>

  <div th:if="${param.error}">
    <p style="color: red;">Wrong username or password.</p>
  </div>

  <div id="errorMessage" style="color: red;"></div>

  <script>
    document.getElementById('loginForm').addEventListener('submit', function(e) {
      e.preventDefault();

      var formData = {
        username: document.getElementById('username').value,
        password: document.getElementById('password').value
      };

      fetch('/registration', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
              .then(response => {
                if (!response.ok) {
                  return response.json().then(err => { throw err; });
                }
                return response.json();
              })
              .then(data => {
                window.location.href = '/home'; //Redirect to home page if success
              })
              .catch(error => {
                document.getElementById('errorMessage').textContent = error.message || 'Error! Something went wrong.';
              });
    });
  </script>

</body>
</html>