<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Account Registration</title>
</head>
<body>
    <h1>Registration</h1>

    <form id="registrationForm" th:action="@{/registration}" method="post">
        <div>
            <label for="username">Username:</label>
            <p></p>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <p></p>
            <input type="email" id="email" name="email" required>
        </div>

        <div>
            <label for="password">Password:</label>
            <p></p>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="passwordConfirmation">Confirm password:</label>
            <p></p>
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>

    <div th:if="${param.error}">
        <p th:text="${param.error}" style="color: red;"></p>
    </div>

    <div id="errorMessage" style="color: red;"></div>

    <script>
        document.getElementById('registrationForm').addEventListener('submit', function(e) {
            e.preventDefault();

            const formData = {
                username: document.getElementById('username').value,
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
                passwordConfirmation: document.getElementById('passwordConfirmation').value
            };

            fetch('/registration', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(text => {
                            throw new Error(text || response.statusText);
                        });
                    }
                    return response.text();
                })
                .then(data => {
                    window.location.href = '/login'; // Redirect to login page if success
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('errorMessage').textContent = error.message || 'Error! Something went wrong.';
                });
        });
    </script>


</body>
</html>